.garfield{
    border: 2px solid rgba(37, 0, 97);
}

#serj{
    border: 5px double rgba(28, 0, 73, 0.678);
    background-color: rgb(218, 194, 255);
    padding: 1% 1%;
    width: 30%;
    min-width: 350px;
    float: inline-start;
}

.head{
    color: rgb(79, 52, 122);   
    background-color:  rgb(218, 194, 255);
}

#img1-head{
    width: 10.38%;
    min-width: 180px;
    align-self: flex-start;
}
#img2-head{
    width: 15%;
    min-width: 260px;
    align-self: flex-end;
}

.fundo-serj{
    background-color: rgb(79, 52, 122); 
    width: auto;  
}
.fundo-refs{
    background-color: rgb(218, 194, 255);
}

.paragrafo{
    color: rgb(218, 194, 255);
    padding: 3%;
}

pre{
    width: 100%;
    text-wrap: wrap;
}

#voltar-link{
    color: rgb(218, 194, 255);
}
#voltar-link:hover{
    color: rgb(22, 0, 56);
}

@media (max-width:600px) {

    #serj{
        width: 100%;
        min-width: 0px;
    }

    #img1-head{
        width: 34.6%;
        min-width: 0px;
    }
    #img2-head{
        width: 50%;
        min-width: 0px;
    }

}
