@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

html{
    background-color: rgb(255, 243, 228);
}
body{
    margin: 1.5rem 4rem 1.5rem 4rem;
}
p{
    font-family: 'Saira', sans-serif;
    text-indent: 3%;
    padding: 0 1% 0 1%;
}

figcaption{
    text-align: center;
}

.nav{
    background-color: rgb(165, 120, 206);
    margin-right: auto;
    padding: 5px 5px;
    margin-bottom: 2rem;
    width: auto;
}

.imgs-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
/*
.imgs-flexbox-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
}*/

.stack{
    display: flex;
}
.stack-item{
    background-color: rgb(255, 235, 210);
    padding: 2px 2px;
    text-align: center;
    border: solid rgb(37, 0, 97);
    width: 100%;
}


h1, h5{
    font-family: 'Jersey 15', sans-serif;
    color: rgb(37, 0, 97);
}
h2, h3, h4{
    font-family: "Jacquarda Bastarda 9", serif;
    color: rgb(218, 194, 255);
    background-color:  rgb(79, 52, 122);
    text-indent: 1%;
}

a{
    color: rgb(37, 0, 97); 
    font-family: "Mountains of Christmas", serif; 
    font-weight: bold;  
}
a:hover{
    color: rgb(164, 130, 219);
}

#img-refs{
    width: 15%;
    min-width: 200px;
}

#img-footer{
    border: 3px dotted rgba(37, 0, 97, 0.336);
    width: 30%;
    min-width: 450px;
}

.topo{
    background-color:  rgba(37, 0, 97, 0.527);
    color: rgb(218, 194, 255);
}
.topo:hover{
    background-color: rgb(218, 194, 255);
    color: rgba(37, 0, 97);
}

footer{
    margin-top: 3rem; 
}

.p-footer{
    background-color: rgb(218, 194, 255);
}


/* ####################################################### */

@media (max-width:600px) {
    .stack{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;
        border: 1vw solid rgba(37, 0, 97, 0.747);
        background-color: rgb(218, 194, 255);
    }
    .stack-item{
        text-align: center;
        text-decoration: none;
        line-height: 180%;
        width: 100%;
        border: 0.2vw solid rgba(37, 0, 97, 0.856);
    }
    .stack-item:visited{
        color: rgba(37, 0, 97, 0.993);
    }

    h1, h2, h3, h4, h5{
        text-align: center;
    }

   #img-footer{
        border: 3px dotted rgba(37, 0, 97, 0.336);
        width: 98%;
        min-width: 0px;
    }
 
    #img-refs{
        width: 55%;
        min-width: 0px;
    }
}
